@model IEnumerable<P3_MVC_EF6_CF.Models.Categoria>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar uma Nova", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaNome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CategoriaID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.CategoriaID }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.CategoriaID })
            </td>
        </tr>
    }

</table>
